export(addStatProcess)
export(addVectorProcess)
export(dataRequest)
export(generateBaseUrl)
export(generateGLCFSurl)
export(generateNWISurl)
export(generateProcessNWISurl)
export(generateProcessedGLCFSurl)
export(getGLCFSData)
export(getNWISData)
export(getParamsFromFile)
export(mergeENDDAT)
