export(addStatProcess)
export(addVectorProcess)
export(dataRequest)
export(generateBaseUrl)
export(generateGLCFSurl)
export(generateNWISurl)
export(generateProcessedGLCFSurl)
export(generateProcessNWISurl)
export(getEnDDaTData)
export(getGDPData)
export(getGDPId)
export(getGLCFSData)
export(getNWISData)
export(getParamsFromFile)
export(getPRECIPData)
export(mergeENDDAT)
import(RCurl)
import(XML)
